<mat-toolbar color="primary">
    <span>Venta de Productos</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/main-page">Board</button>
    <button mat-button routerLink="/main-page/productos">Producto</button>
    <button mat-button routerLink="/main-page/clientes">Cliente</button>
    <button mat-button routerLink="/main-page/ventas">GestiónVentas</button> 
    <span class="example-spacer"></span>

    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>logout</mat-icon>
      </button>
</mat-toolbar>
